.date-indicator {
  background: #252525;
  border: 2px solid white;
  padding: 10px 12px;
  border-radius: 15px;
  width: 125px;
}
.month-date {
  font-size: 1.2rem;
  font-weight: 600;
}
.year-date {
  font-size: 1rem;
  margin: 4px 0px 12px !important;
  font-weight: 600;
}
.day-date {
  font-size: 1.4rem;
  font-weight: 600;
}
